body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  /* Nav bar Css Start*/
  .custom-navbar {
    background-color: rgba(67, 66, 66, 0.43); /* semi-transparent dark */
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .navbar-nav .nav-link {
    color: white;
    font-weight: 400;
    padding: 8px 15px;
    position: relative;
    margin: 0 10px;
     
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: red;
    transition: width 0.3s ease;
  }
  
  
  .navbar-nav .nav-link:hover::after,
  .navbar-nav .nav-link.active::after {
    width: 100%;
  }
  
  
  
.btn-outline-light-custom {
    color: white;
    border: 1px solid white;
    
  }

  .btn-outline-light-custom:hover {
    border: 1px solid white;
    color: white;
  }
 
  .btn-link {
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
  

.hover-dropdown .dropdown-menu {
    display: none;
    margin-top: 10px;
    transition: all 0.2s ease;
    border-radius: 0;
    padding: 20px 40px 20px 20px;
    background-color: rgb(250, 243, 243);
  }
  
  .hover-dropdown:hover .dropdown-menu {
    display: block;
     
  }

  .item:hover{
    color: red;
  }
  
  .hover-dropdown:hover .dropdown-menu::after{
    content: '';
  position: absolute;
   top:-10px;
 
  right: 75%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(250, 243, 243);
  }
 
  /*NavBar Css End*/
  /* Search Tab Css Start*/
  .hero {
    /* background: url('../Media/hero-bg.jpg.webp') no-repeat center center/cover; */
    background: url(
      '../../public/Media/hero-bg.jpg.webp') no-repeat center center/cover;
    height: 824px;
    padding-top: 325px;
    position: relative;
  }
  
  .container1 {
    position: relative;
  }
  
  .overlay {
    position: relative;
    margin: 0% 20% 1px 5%;
    bottom: 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 27px 48px 31px;
  }
  
  .search-tabs .nav-link {
    color: white;
    font-weight: 600;
    padding: 10px 20px;
  }
  
  .search-tabs .nav-link.active {
    background-color: red;
    color: white !important;
    border: none;
    position: relative;
  }

  .search-tabs .nav-link.active::after {
  content: '';
  position: absolute;
   
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 249, 249);
}
  
  .search-box {
    display: flex;
    margin-top: 20px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
  }
  
  .search-box button {
     
    color: white;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
  }

  /*Search Tab Css End*/

  /*Third Section Css Start*/

  
  /*Third Section Css End*/

    .image-text{
        position: absolute;
        padding: 15px;
         background-color: red;
        color: white;
    } 
   
    .vertical-line {
        border-left: 2px solid grey;  
        height: 100%;  
        min-height: 180px;
        
    }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1176px;
      max-height: auto;
    }
  }
  @media only screen and (max-width: 767px) {
    .hero {
      height: auto;
      padding-top: 200px;
      padding-bottom: 100px;
      text-align: center;
    }
  
    .search-tabs {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin-bottom: 20px;
    }
  
    .search-tabs .nav-item {
      margin-bottom: 8px;
      width: auto;
       
    }
  
    .search-tabs .nav-link {
      padding: 10px 14px;
      width: auto;
      text-align: center;
      font-weight: 300;
    }
  
    .search-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: transparent;
      margin-top: 20px;
    }
  
    .search-box input {
      width: 100%;
      max-width: 350px;
      padding: 12px;
      border-radius: 4px;
      margin-bottom: 15px;
    }
  
    .search-box button {
      width: 100%;
      max-width: 200px;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  
    .overlay {
      padding: 30px 20px;
    }
  
    .overlay p {
      font-size: 14px;
      margin-top: 20px;
      line-height: 1.5;
    }

    .search-tabs .nav-link.active::after {
        content: '';
        position: absolute;
         
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(255, 249, 249);
      }
  }
  